.container {
  position: absolute;
  user-select: none;
}
.titleBar {
  cursor: url("/assets/cursors/move.cur"), auto;
}
.titleBarControls button {
  pointer-events: all;
}
@media (max-width: 700px) {
  .container {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
  }
}
